<ion-header>
  <ion-toolbar color="primary">
  <!--   <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title class="ion-text-center">
      Purple And Blue Corp App
    </ion-title>
   
     <!-- Side menu button -->
     <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item>
      <img src="/assets/images/dashboard.PNG" style="margin: auto;align-content: center;" >
    </ion-item>
  </ion-card>
 
 </ion-content>
<ion-footer>
  <ion-toolbar  color="secondary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
